@media (prefers-reduced-motion: no-preference) {
  .heart-img-2 {
    animation: heart-spin infinite 0.1s linear;
  }
}

.heart-img-2 {
  width: 50%;
  margin-bottom: 10px;
}

#heart-img-id {
  width: 50%;
}

.form-bg {
  background: radial-gradient(
      circle closest-side at 60% 43%,
      rgb(255, 255, 255) 26%,
      rgba(255, 255, 255, 0) 27%
    ),
    radial-gradient(
      circle closest-side at 40% 43%,
      rgb(253, 253, 253) 26%,
      rgba(187, 0, 51, 0) 27%
    ),
    radial-gradient(
      circle closest-side at 40% 22%,
      rgb(56, 56, 56) 45%,
      rgba(221, 51, 85, 0) 46%
    ),
    radial-gradient(
      circle closest-side at 60% 22%,
      rgb(56, 56, 56) 45%,
      rgba(221, 51, 85, 0) 46%
    ),
    radial-gradient(
      circle closest-side at 50% 35%,
      rgb(56, 56, 56) 30%,
      rgba(221, 51, 85, 0) 31%
    ),
    radial-gradient(
        circle closest-side at 60% 43%,
        rgb(255, 255, 255) 26%,
        rgba(187, 0, 51, 0) 27%
      )
      50px 50px,
    radial-gradient(
        circle closest-side at 40% 43%,
        rgb(255, 255, 255) 26%,
        rgba(187, 0, 51, 0) 27%
      )
      50px 50px,
    radial-gradient(
        circle closest-side at 40% 22%,
        rgb(56, 56, 56) 45%,
        rgba(221, 51, 85, 0) 46%
      )
      50px 50px,
    radial-gradient(
        circle closest-side at 60% 22%,
        rgb(56, 56, 56) 45%,
        rgba(221, 51, 85, 0) 46%
      )
      50px 50px,
    radial-gradient(
        circle closest-side at 50% 35%,
        rgb(56, 56, 56) 30%,
        rgba(221, 51, 85, 0) 31%
      )
      50px 50px;
  background-color: white;
  background-size: 100px 100px;
}

.form-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 95vh;
  background-color: rgb(255, 255, 255, 0.8);
}

.form-title {
  font-family: "Lobster", cursive;
}

.input-fields-ctn {
  position: relative;
  bottom: 5%;
  display: flex;
  flex-direction: column;
}

.filters {
  font-family: "Hubballi", cursive;
  text-align: center;
  font-size: 20px;
}

.input-fields-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.input-field {
  font-family: "Josefin Sans", sans-serif;
  border: 2px solid rgb(203, 2, 38);
  margin: 5px 5px;
  padding: 3px 10px;
  border-radius: 10px;
  color: white;
  background-color: rgb(203, 2, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 30%;
  text-align: center;
  font-size: 15px;
}

.input-field:hover {
  background-color: rgb(255, 21, 21);
  border: 2px solid rgb(255, 21, 21);
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-btn {
  font-family: "Hubballi", cursive;
  font-size: 22.5px;
  width: 55%;
  color: white;
  background-color: rgb(203, 2, 38);
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
}

.form-btn:hover {
  background-color: black;
  transition: all 0.3s ease;
  cursor: pointer;
}
.go-back-btn {
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@media screen and (min-width: 500px) and (max-width: 900px) {
  .input-field {
    width: 15%;
  }

  .heart-img-2 {
    width: 35%;
  }

  #heart-img-id {
    width: 35%;
  }

  .form-btn {
    width: 40%;
  }
}

@media screen and (min-width: 900px) {
  .input-field {
    width: 10%;
    height: 35%;
  }
  .heart-img-2 {
    width: 25%;
  }

  #heart-img-id {
    width: 25%;
  }
  .form-btn {
    width: 30%;
  }
}
